@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增", "Create", new { }, new { @class = "btn btn-primary" })
    @Html.ActionLink("顯示全部", "Index", new { ShowAll = true, PageNo = ViewBag.PageNo }, new { @class = "btn btn-primary" })
</p>
<p>
    <form>
        @Html.DropDownList("ActiveFilter", null, "請選擇", new { onchange = "" })
        @Html.TextBox("KeyWord")
        <input type="submit" value="Search" />
    </form>
</p>

@{
    var a = new { SortBy = "+Price", KeyWord = ViewBag.KeyWord, PageNo = ViewBag.PageNo };
    var b = new { SortBy = "-Price", KeyWord = ViewBag.KeyWord, PageNo = ViewBag.PageNo };
    var Data = Model.ToArray();
}

@using (Html.BeginForm())
{
<table class="table">
    <tr style="background-color:burlywood;">
        <th>
            編號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>

            <a href="@Url.Action("Index", "Products", a)">▲</a>
            @Html.DisplayNameFor(model => model.Price)
            <a href="@Url.Action("Index", "Products", b)">▼</a>
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @{
        int Counter = 0;
    }

    @for(var i = 0; i< Data.Length; i++)
    {
        @Html.HiddenFor(modelItem => Data[i].ProductId);
        <tr style="@(Counter % 2 != 0 ? "background-color:#ccc;":"")">
            <td>
                @(++Counter)
            </td>
            <td>
                @Html.EditorFor(modelItem => Data[i].ProductName)
                @Html.ValidationMessageFor(modelItem => Data[i].ProductName)
            </td>
            <td style="@(Data[i].Price >= 100 ? "color:red;": "" )">
                @Html.EditorFor(modelItem => Data[i].Price)
                @Html.ValidationMessageFor(modelItem => Data[i].Price)
            </td>
            <td>
                @Html.EditorFor(modelItem => Data[i].Active)
                @Html.ValidationMessageFor(modelItem => Data[i].Active)
            </td>
            <td>
                @Html.EditorFor(modelItem => Data[i].Stock)
                @Html.ValidationMessageFor(modelItem => Data[i].Stock)
            </td>
            <td>

                @Html.ActionLink("編輯", "Edit", new { id = Data[i].ProductId }) |
                @Html.ActionLink("詳細", "Details", new { id = Data[i].ProductId }) |
                @Html.ActionLink("刪除", "Delete", new { id = Data[i].ProductId })
            </td>
        </tr>
    }
</table>
<input type="submit" value="Submit" />
}

@Html.Partial("_Pager")