@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("顯示全部", "Index", new { ShowAll = true, KeyWord = ViewBag.KeyWord, PageNo = ViewBag.PageNo })
</p>
<p>
    @{
        using (Html.BeginForm("Index", "Products", new { ShowAll= ViewBag.ShowAll }))
        {
            @Html.TextBox("KeyWord");
            <input type="submit" value="Search" />

        }
    }   
</p>

@{
    var a = new { SortBy = "+Price", KeyWord = ViewBag.KeyWord, PageNo = ViewBag.PageNo };
    var b = new { SortBy = "-Price", KeyWord = ViewBag.KeyWord, PageNo = ViewBag.PageNo };
}
<table class="table">
    <tr style="background-color:burlywood;" >
        <th>
            編號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>

            <a href="@Url.Action("Index", "Products", a)">▲</a>
            @Html.DisplayNameFor(model => model.Price)
            <a href="@Url.Action("Index", "Products", b)">▼</a>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Active)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @{
        int Counter = 0;
    }

    @foreach (var item in Model)
    {
       
        <tr style="@(Counter % 2 != 0 ? "background-color:#ccc;":"")">
            <td>
                @(++Counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td style="@(item.Price >= 100 ? "color:red;": "" )">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                
                @Html.ActionLink("編輯", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("詳細", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }
</table>
@using PagedList;
@using PagedList.Mvc;

@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { SortBy = ViewBag.SortBy, KeyWord = ViewBag.KeyWord, PageNo = (p) }))
